<div id="footer" class="transition-500 invisible">
  <div class="footer-right">
    <span class="icon-placeholder">
      <a href="/a-propos" class="icon icon-info" title="Infos"></a>
    </span>
    <span class="icon-placeholder">
      <a href="/contact" class="icon icon-contact" title="Contact"></a>
    </span>
  </div>
  <div class="footer-center clearfix">
    <div class="footer-left-block">
      <span class="icon-placeholder">
        <a
          class="icon icon-random"
          title="Un point au hasard"
          href="/aleatoire"
        ></a>
      </span>
      <span class="icon-placeholder">
        <a
          class="icon icon-fullscreen player-fullscreen"
          title="Plein écran"
        ></a>
      </span>
      <span class="icon-placeholder"> </span>
    </div>
    <div class="footer-center-block">
      <span class="icon-placeholder"> </span>
      <span class="icon-placeholder icon-map-placeholder">
        <a href="/" class="icon icon-map" title="Carte"></a>
      </span>
      <span class="icon-placeholder"> </span>
    </div>
    <div class="footer-right-block">
      <span class="icon-placeholder">
        <a
          href="https://facebook.com/sharer.php?u={{ site.url }}"
          title="Partager sur Facebook"
          class="icon icon-fb"
          target="_blank"
        ></a>
      </span>
      <span class="icon-placeholder">
        <a
          href="https://twitter.com/share?url={{ site.url }}"
          title="Partager sur Twitter"
          class="icon icon-tw"
          target="_blank"
        ></a>
      </span>
      <span class="icon-placeholder">
        <a
          href="https://plus.google.com/share?url={{ site.url }}"
          title="Partager sur Google Plus"
          class="icon icon-gp"
          target="_blank"
        ></a>
      </span>
    </div>
  </div>
</div>
