<div id="footer" class="transition-500">
  <div class="footer-center">
    <div class="footer-left-block">
      <span class="icon-placeholder">
        <a href="/a-propos" class="icon icon-info" title="Infos"></a>
      </span>
    </div>
    <div class="footer-center-block">
      <span class="icon-placeholder icon-map-placeholder">
        <a href="/" class="icon icon-map" title="Carte"></a>
      </span>
    </div>
    <div class="footer-right-block">
      <span class="icon-placeholder">
        <a href="/contact" class="icon icon-contact" title="Contact"></a>
      </span>
    </div>
  </div>
</div>
