<div id="footer" class="transition-500">
  <div id="vignettes" class="columns is-marginless">
    <div class="column france">France</div>
    <div class="column ecosse">Ecosse</div>
    <div class="column nz">NZ</div>
    <div class="column islande">Islande</div>
    <div class="column islande">Islande</div>
    <div class="column islande">Islande</div>
    <div class="column islande">Islande</div>
  </div>

  <div class="columns is-centered is-marginless">
    <span class="icon-placeholder">
      <a href="/a-propos" class="icon icon-info" title="Infos"></a>
    </span>
    <span class="icon-placeholder icon-map-placeholder">
      <a href="/" class="icon icon-map" title="Carte"></a>
    </span>
    <span class="icon-placeholder">
      <a href="/contact" class="icon icon-contact" title="Contact"></a>
    </span>
  </div>
</div>
