---
---

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
html {
  height: 100%;
}
html.location body {
  height: 100%;
}

#image-wrapper {
  min-height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.transition-500 {
  transition: all 0.5s ease-out;
}

/* Pages */
.page-content {
  max-width: 600px;

  padding-bottom: 20px;
  margin: auto;
}
.page-contact {
  background-color: #f9fcfb !important;
  background: url({{"/assets/images/fond-pagecontacts.jpg"|relative_url}})
    no-repeat top left;
  background-size: contain;
}
.page-apropos {
  background-color: #f9fcfb !important;
  background: url({{"/assets/images/fond-pageinfo.jpg"|relative_url}}) no-repeat
    top right;
  background-size: contain;
}
.page-apropos .page-content {
  margin: 100px 80px 0 80px;
}
.apropos-text {
  text-indent: 1.5em;
  text-align: justify;
  color: #898a89;
}
blockquote .author {
  text-align: right;
  padding-right: 100px;
  margin-bottom: 50px;
}

.page-contact dl {
  text-align: center;
  font-size: 2em;
  margin-top: 40px;
}
.page-contact dt {
  margin-top: 15px;
  text-decoration: underline;
}
.page-contact dd {
  color: #4d677e;
  margin-inline-start: 0px !important;
}

/* Map */
.leaflet-bottom {
  bottom: 150px;
}
.leaflet-popup-content-wrapper {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.leaflet-popup-content {
  margin: 5px;
}
.leaflet-popup-tip {
  padding: 0;
  margin-top: -10px;
}
.leaflet-container a {
  color: #000;
  font-style: normal;
  font-weight: normal;
}

.leaflet-marker-icon {
  width: 6px !important;
  height: 6px !important;
  margin-left: -3px !important;
  margin-top: -3px !important;
}
.zoom-medium .leaflet-marker-icon {
  width: 8px !important;
  height: 8px !important;
  margin-left: -4px !important;
  margin-top: -4px !important;
}
.zoom-medium-plus .leaflet-marker-icon {
  width: 10px !important;
  height: 10px !important;
  margin-left: -5px !important;
  margin-top: -5px !important;
}
.zoom-max .leaflet-marker-icon {
  width: 13px !important;
  height: 13px !important;
  margin-left: -6.5px !important;
  margin-top: -6.5px !important;
}

/* Footer */
#footer {
  z-index: 1000;
  width: 100%;
  position: fixed;
  bottom: 0;
}

#vignettes {
  height: 150px;
  border-top: 1px solid gray;
  overflow-x: auto;
}
#vignettes div {
  opacity: 0.9;
}
#vignettes div:hover {
  opacity: 1;
}

#vignettes div > h3 {
  height: 100%;
  padding: 5px 0px;
  background-color: rgba(255, 255, 255, 0.4);
}
#vignettes div > h3:hover {
  height: 100%;
  background-color: rgba(255, 255, 255, 0);
}
.france {
  background: url({{ site.jpgBaseUrl }}/c_thumb,w_300,g_face/pointsdefuite/assets/vignettes/france.jpg);
  background-size: cover;
  background-position: center;
}
.danemark {
  background: url({{ site.jpgBaseUrl }}/c_thumb,w_300,g_face/pointsdefuite/assets/vignettes/danemark.jpg);
  background-size: cover;
  background-position: center;
}
.ecosse {
  background: url({{ site.jpgBaseUrl }}/c_thumb,w_300,g_face/pointsdefuite/assets/vignettes/ecosse.jpg);
  background-size: cover;
  background-position: center;
}
.islande {
  background: url({{ site.jpgBaseUrl }}/c_thumb,w_300,g_face/pointsdefuite/assets/vignettes/islande.jpg);
  background-size: cover;
  background-position: center;
}
.nouvelle-caledonie {
  background: url({{ site.jpgBaseUrl }}/c_thumb,w_300,g_face/pointsdefuite/assets/vignettes/nouvelle-caledonie.jpg);
  background-size: cover;
  background-position: center;
}
.norvege {
  background: url({{ site.jpgBaseUrl }}/c_thumb,w_300,g_face/pointsdefuite/assets/vignettes/norvege.jpg);
  background-size: cover;
  background-position: center;
}
/* audio controls */
#audio-controls {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
@keyframes fadeIn {
  from {
    opacity: 0.2;
  }
}
.fa-volume-up {
  animation: fadeIn 2s infinite alternate;
}

@keyframes wrench {
  0% {
    transform: rotate(-12deg);
  }
  8% {
    transform: rotate(12deg);
  }
  10%,
  28%,
  30%,
  48%,
  50%,
  68% {
    transform: rotate(24deg);
  }
  18%,
  20%,
  38%,
  40%,
  58%,
  60% {
    transform: rotate(-24deg);
  }
  75%,
  100% {
    transform: rotate(0deg);
  }
}
.fa-volume-mute {
  animation: wrench 2s ease infinite;
}

/* override bulma */
.navbar {
  z-index: 1000 !important;
  /* opacity: 0.6; */
  background-color: rgba(255, 255, 255, 0.4);
}
.navbar:hover,
.navbar.has-active-menu {
  background-color: rgba(255, 255, 255, 1);
  /* opacity: 1; */
}
