---
title: Location
layout: main
nav: page-photo
---

<progress
  id="progress"
  max="100"
  style="position: absolute; top: 0; left: 0; width: 100%; height: 5px"
></progress>
<div id="image-wrapper" style="background-image: url('photo.jpg')"></div>
<audio id="audio-wrapper" loop>
  <source src="sound.mp3" type="audio/mpeg" />
  <source src="sound.ogg" type="audio/ogg" />
  <!-- fallback for non supporting browsers goes here -->
  <p>
    Your browser does not support HTML5 audio, but you can still
    <a href="sound.mp3">download the music</a>.
  </p>
</audio>

{% include footer.html %}
