<!DOCTYPE html>
<html class="{{ page.nav }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>{{ page.title }} | {{ site.title }}</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <link rel="shortcut icon" type="image/png" href="/favicon.ico" />
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>
    <script
      src="{{ '/assets/javascripts/main.js' | relative_url }}"
      type="text/javascript"
    ></script>
    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css?family=Average+Sans"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/stylesheets/main.css' | relative_url }}"
    />
  </head>

  <body>
    {{ content }}
  </body>
</html>
